.hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  min-height: 400px;
  padding: 50px 150px;
  background-color: $bg-dark;
  background-image: url(../img/sushi.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

.p1 {
  color: $bg-main;
  align-self: center;
  font-size: smaller;
}

.p2 {
  color: #696868;
}

.p3 {
  color: #fff;
}

.dishes {
    // background-color: chartreuse;
  display: flex;
  flex-direction: column;
  @extend %section-structure;
} 

.dish-presentation {
    padding-bottom: 15px;
}

.world-class-sushi {
    background-color: crimson;
  background-image: url(../img/sushi-dish.jpg);
  background-repeat: no-repeat;
  height: 250px;
}

.text-dish {
    background-color: chartreuse;
}

.world-class-salmon {
  background-image: url(../img/roasted-salmon.jpg);
  background-repeat: no-repeat;
  height: 250px;
}

.world-class-sashimi {
  background-image: url(../img/sashimi.jpg);
  background-repeat: no-repeat;
  height: 250px;
}
